body {
	background-color: #fff;
}

a {
	color: #333;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

#main-content {
	padding: 15px;
	background-color: #ddf;
	border: 1px solid #666;
	-webkit-border-radius: 5px;
	margin: 10px;
}

.topper {
	background-color: #003;
	padding: 0 10px;
}

.topper  h1 {
	color: #fff;
	font-size: 1em;
	font-weight: bold;
	margin-bottom: 2px;
}

div.clear {
	clear: both;
	display: block;
	visibility: hidden;
}

label {
	display: block;
	color: #666;
}

